[main]
log_file = simple_reporter.log
brief_section_enabled = yes


# reporters defined here

# send report via email
[email-reporter]
enabled = True
type = reporter-email
smtp_server = smtp.example.com
smtp_port = 587
sender = example.com@example.com
smtp_username = example.com@example.com
smtp_password = 123secureSMTPpasswdhere123
use_tls = True
use_auth = True
to = example.com@example.com
# this is like a Jinja2 template
email_subject = simple_reporter at {{ hostname }}

# save report to file
[file-reporter]
enabled = False
type = reporter-file
filename = report.txt




# tests defined here

[zfs-zpool-status]
type = zfs_zpool_status
enabled = True


[zfs-zpool-list]
type = zfs_zpool_list
enabled = True


[df-test]
type = df-trivial
enabled = True


[ifconfig-test]
# show ifconfig. although supports brief form
type = ifconfig
enabled = True


[uptime-test]
# show uptime output
type = uptime
enabled = True


[dmesg-test]
# show dmesg output
type = dmesg
enabled = True
# if defined, show that much lines
last_lines = 10


[smartctl-test]
# show smartctl of detected disks
type = smartctl
enabled = True


[traceroute-test]
# show traceroute to host
type = traceroute
enabled = True
host = 8.8.8.8


[downtime-test]
# show last downtime
type = downtime
enabled = True
heartbeat_period_s = 600
heartbeat_file = /var/tmp/heartbeat


[file-test1]
# show content of file
type = file_content
enabled = True
path = /var/log/syslog


[datetime-test]
# show date and time
type = datetime
enabled = True


[ps-test]
# show process list
type = ps
enabled = True
# if process_substr is defined, then show only lines which contain this substring
process_substr = python