Simple Report v.{{ version }}
Host: {{ host }}
Date: {{ datetime }}
OS: {{ os_type_dict["distribution"] }}, version: {{ os_type_dict["major_version"] }}.{{ os_type_dict["minor_version"] }}
Tests loaded: {{ tests | length }}
Config: {{ config_file }}


BRIEF REPORT:
{% for test in tests %}{% if test.report_brief is not none %}{{ test.report_brief }}
{% endif %}{% endfor %}



FULL REPORT:
{% for test in tests %}
{% if not test.ignored %}{{ test.report }}{% else %}TEST IGNORED: {{ test.name }} ({{ test.descr }}){% endif %}
{% endfor %}
